<div class="landing">
    <div class="row">
        <div class="medium-3  columns">
            <span title="Foundation by Zurb"><svg><use xlink:href="..\assets\images\svg.svg#foundation"></use></svg></span>
            <p>The most advanced responsive front-end framework in the world.</p>
        </div>
        <div class="medium-3  columns" title="SASS - Syntactically Awesome Style Sheets">
            <svg><use xlink:href="..\assets\images\svg.svg#sass"></use></svg>
            <p>Sass is the most mature, stable, and powerful professional grade CSS extension language in the world.</p>
        </div>
        <div class="medium-3  columns" title="Gulp">
            <svg><use xlink:href="..\assets\images\svg.svg#gulp"></use></svg>
            <p>Build system automating tasks: minification and copying of all JavaScript files, static images, capable
                of watching files to automatically rerun the task when a file is updated.</p>
        </div>
        <div class="medium-3 columns">
            <img ng-src="..\assets\images\sails.png" title="Sails"/>
            <p>Sails makes it easy to build custom, enterprise-grade Node.js apps. It is designed to emulate the familiar MVC pattern of frameworks like Ruby on Rails, but with support for the requirements of modern apps: data-driven APIs with a scalable, service-oriented architecture.</p>
        </div>
    </div>
    <div class="row">
        <div class="medium-3 columns" title="MongoDB">
            <svg><use xlink:href="..\assets\images\svg.svg#mongo"></use></svg>
            <p>The only database that harnesses the innovations of NoSQL (flexibility, scalability, performance) and builds on the foundation of relational databases (expressive query language, secondary indexes, strong consistency).</p>
        </div>
        <div class="medium-3 columns" title="Express">
            <svg><use xlink:href="..\assets\images\svg.svg#express"></use></svg>
            <p>Express is a minimal and flexible Node.js web application framework that provides a robust set of features for web and mobile applications.</p>
        </div>
        <div class="medium-3 columns" title="Angular">
            <svg><use xlink:href="..\assets\images\svg.svg#angular"></use></svg>
            <p>AngularJS lets you extend HTML vocabulary for your application. The resulting environment is
                extraordinarily expressive, readable, and quick to develop.</p>
        </div>
        <div class="medium-3 columns" title="Node">
            <svg><use xlink:href="..\assets\images\svg.svg#node"></use></svg>
            <p>Node.js uses an event-driven, non-blocking I/O model that makes it lightweight and efficient, perfect for data-intensive real-time applications that run across distributed devices.</p>
        </div>
    </div>
</div>
