@import "normalize";
@import "foundation";
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700);
@import url('http://fonts.googleapis.com/css?family=Roboto:400italic,700italic,700,400');

* {
  margin: 0;
}

pre code {
  display: block;
}

html, body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

a {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
  font-family: 'Droid Serif', serif;
}

.wrapper {
  min-height: 100%;
  margin: 0 auto -30px;
}

.row {
  max-width: 80.5rem;
  padding: 0 1rem;
}

nav.top-bar {
  background: transparent;
  height: 6.8125rem;
  border-bottom: 1px solid #ddd;
  .inner-wrap {
    max-width: 80.5rem;
    margin: 0 auto;
  }
  h1 {
    img {
      margin-top: 1.1rem;
      width: 270px;
      height: auto;
    }
  }
  ul.right {
    margin: 2rem 2rem 0 0;
  }
  li {
    background: transparent;
    &.active {
      a {
        color: #cf4646 !important;
      }
    }
    a {
      color: #333;
      background: transparent !important;
      font-size: 1.2rem;
      font-family: 'Roboto', sans-serif;
      &:hover {
        color: #cf4646 !important;
      }
    }
  }
}

.top-bar .toggle-topbar.menu-icon a {
  color: #cf4646;
}

.side-nav {
  a {
    font-size: 1.1rem;
  }

}

.main-view {
  margin-top: 3%;
}

.landing {
  .row {
    text-align: center;
  }
  img {
    max-height: 88px;
    margin-bottom: 1em;
  }
}

.content {
  header {
    text-align: center;
  }
  h2 {
    text-align: center;
    margin-top: 2rem;
    position: relative;
    span {
      background: #fff;
      padding: 0 2rem;
    }
    &:before {
      content: "";
      height: 1px;
      width: 100%;
      background: #ddd;
      position: absolute;
      left: 0;
      bottom: 1.5rem;
      z-index: -1;
    }
  }
  img {
    max-height: 88px;
  }
}

footer, .push {
  height: 30px; /* '.push' must be the same height as 'footer' */
  p {
    margin: 0;
  }
}

@media screen and (max-width: 642px) {

  nav.top-bar {
    .top-bar-section {

      &.inactive {
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        transform: translateX(-100%);
        -webkit-transition: .3s all ease;
        -moz-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease;
        ul.right {
          margin: 0;
        }
      }
      &.active{
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
        ul.right{
          height:100%;
          position:absolute;
          top:0;
          width:100%;
          background:#333;
          left:0;
        }
      }
    }
    .toggle-topbar.menu-icon {
      margin-top: 1rem;
      a span::after {
        transform: scale(1.4);
        box-shadow: 0 0 0 1px #cf4646, 0 6px 0 1px #cf4646, 0 12px 0 1px #cf4646;
        margin-right: 1rem;
      }

    }
  }
}

/** import feature sass **/
@import '../../components/loader/loader.scss';